body{
    font-family: 'Roboto Mono', monospace;
    margin:70px;
}
.border{
    
    
    border-left: 5px solid;
    padding-left: 20px;
    border-left-color: green;
    border-image-slice: 1;
    border-radius: 3px;

}
.orange-color{
    color: orange;
}
p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.flexible{
    display:flex;
    
}
.flexible-img{
    width: 20%;
}
.half-width{
    width:60%;
    padding-right: 200px;
    padding-top: 20px;
    
}
.half-width img{
    width:60%;
    padding-left: 20px;
    padding-bottom: 10px;
    
}


.small-icon{
    width: 20%;
}
.mission-1{
    width: 30%;
    padding:40px 20px 40px 20px;
    
    border-radius: 15px;
    margin-right: 50px;
    
    
    
    background-color: paleturquoise;
}
.mission-2{
     width: 30%;
     padding:40px 20px 40px 20px;
   
    border-radius: 15px;
    background-color: silver;
    margin-right: 50px;
}
.mission-3{
     width: 30%;
    padding:40px 20px 40px 20px;
    background-color: wheat;
    border-radius: 15px;
}

h2{
    text-align: center;
    font-size: 35px;
    padding-bottom: 50px;
  
}
.downlode-link{
    text-decoration: none;
    background-image:linear-gradient(rgba(255, 166, 0, 0.842),rgb(238, 255, 0));
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
}

.first-banner{
    display: flex;
       background-image: url(images/shapes/shape-1.png);
    background-repeat:no-repeat;
    background-position: left;
    background-size: 200px;
   
    
}
.second-banner{
    display: flex;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position:right;
    background-size:150px;
}
.second-banner- img{
    width: 40%;
}
.first-banner-img{
    width: 40%;
}
.third-banner{
    display: flex;

}
.third-banner img{
    width: 50%;
    padding-left: 80px;
    background-image: url(images/shapes/shape-3.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 150px;
}
.last-width{
    padding-right: 200px;
    padding-top: 10px;
}
.half-width img{
    width: 70%;
    padding-left: 300px;
    padding-bottom: 30px;
    
}


.full-width{
    padding-top: 40px;

   
}
.full-width-pic img{
    width:50%;
    padding-bottom: 20px;
    padding-top: 50px;
    padding-left: 90px;
    



}
h3{
    text-align: center;
    font-size: 35px;
}
h4{
    font-size: 35px;
}

.end{
    text-align: center;
    color: white;
    
    font-size: 30px;
    background-color:black;
    padding: 20px 0px 20px 0px;
    margin-left: -70px;
    margin-right: -70px;
}
.red{
    color: chocolate;
}
.arial{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h6{
    font-size: 10px;
}


